<!-- layout.component.html -->

<header class="top-bar">
    <div class="logo">
        <h1>XRPL</h1>
    </div>
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a (click)="navigateToHome()">About</a></li>
                <li><a routerLink="/docs">Docs</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Banner -->
<div class="banner">
    <p>Welcome to the XRPL! Explore your XRPL accounts and transactions.</p>
</div>

<!-- Main Content -->
<mat-card-header>
    <div class="form-container">
        <div class="input-button-container">
            <mat-form-field class="wide-form-field" appearance="fill">
                <mat-label></mat-label>
                <input matInput [(ngModel)]="user_search_input" placeholder="Search by Address or Ledger" (keydown.enter)="onEnter()"
                    class="full-width-input">
            </mat-form-field>
            <button mat-button color="primary" (click)="navigateToConnectWallet()" class="create-button">Connect Wallet</button>
            <button mat-button [matMenuTriggerFor]="taccountMenu" class="create-button">Accounts</button> 
            <button mat-button [matMenuTriggerFor]="trustLinesMenu" class="create-button">Trust Lines</button>
            <button mat-button [matMenuTriggerFor]="tpaymentsMenu" class="create-button">Payments</button>
            <button mat-button [matMenuTriggerFor]="toffersMenu" class="create-button">Offers</button>
            <button mat-button color="primary" (click)="navigateToGetServerInfo()" class="create-button">XRPL Server Info</button>
        </div>
    </div>
</mat-card-header>

<!-- Trust Lines Dropdown Menu -->
<mat-menu #trustLinesMenu="matMenu">
    <button mat-menu-item (click)="navigateToGetTrustLines()">Get Trust Lines</button>
    <button mat-menu-item (click)="navigateToCreateTrustLine()">Create Trust Line</button>
    <button mat-menu-item (click)="navigateToRemoveTrustLine()">Remove Trust Line</button>
</mat-menu>

<!-- Payment Dropdown Menu -->
<mat-menu #tpaymentsMenu="matMenu">
    <button mat-menu-item (click)="navigateToSendPayment()">Send Payment</button>
    <button mat-menu-item (click)="navigateToSendPaymentAndDeleteAccount()">Send Payment and Delete Account</button>
    <button mat-menu-item (click)="navigateToSendPaymentAndBlackHoleAccount()">Send Payment and Black Hole Account</button>
    <button mat-menu-item (click)="navigateToSendCurrencyPayment()">Send Currency Payment</button>
</mat-menu>

<!-- Offers Dropdown Menu -->
<mat-menu #toffersMenu="matMenu">
    <button mat-menu-item (click)="navigateToGetAccountOffers()">Get Offers</button>
    <button mat-menu-item (click)="navigateToSendPayment()">Create Offers</button>
    <button mat-menu-item (click)="navigateToCancelAccountOffers()">Cancel Offers</button>
    <button mat-menu-item (click)="navigateToSendCurrencyPayment()">Get Order Book Offers</button>
</mat-menu>

<!-- Account Dropdown Menu -->
<mat-menu #taccountMenu="matMenu">
    <button mat-menu-item (click)="createNewWallet()">Create Wallet</button>
    <button mat-menu-item (click)="navigateToGetAccountConfig()">Get Account Config</button>
    <button mat-menu-item (click)="navigateToUpdateAccountConfig()">Update Account Config</button>
</mat-menu>

<!-- Router Outlet (Where other page content will be displayed) -->
<router-outlet></router-outlet>

<!-- Card Footer -->
<mat-card-footer>
    <p>© 2025 XRPL. All rights reserved.</p>
</mat-card-footer>
<!-- Card Footer -->