<!-- layout.component.html -->

<header class="top-bar">
    <div class="logo">
        <h1>XRPL</h1>
    </div>
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a (click)="navigateToHome()">About</a></li>
                <li><a routerLink="/docs">Docs</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Banner -->
<div class="banner">
    <p>Welcome to the XRPL! Explore your XRPL accounts and transactions.</p>
</div>

<!-- Main Content -->
<mat-card-header>
    <div class="form-container">
        <mat-form-field class="wide-form-field" appearance="fill">
            <mat-label></mat-label>
            <input matInput [(ngModel)]="user_search_input" placeholder="Serach by Address or Ledger" (keydown.enter)="onEnter()"
                class="full-width-input">
        </mat-form-field>
        <button mat-button color="primary" (click)="createNewWallet()" class="create-button">Create Wallet</button>
        <button mat-button color="primary" (click)="navigateToCreateTrustLine()" class="create-button">Create Trust Line</button>
        <button mat-button color="primary" (click)="navigateToRemoveTrustLine()" class="create-button">Remove Trust Line</button>
        <button mat-button color="primary" (click)="navigateToSendPayment()" class="create-button">Send Payment</button>
        <button mat-button color="primary" (click)="createNewWallet()" class="create-button">Create Offer</button>
    </div>
</mat-card-header>

<!-- Router Outlet (Where other page content will be displayed) -->
<router-outlet></router-outlet>

<!-- Card Footer -->
<mat-card-footer>
    <p>&copy; 2025 XRPL. All rights reserved.</p>
</mat-card-footer>
<!-- Card Footer -->