<div class="app">
  <mat-card>
    <div class="centered-container">
      <!-- Card Content -->
      <mat-card-content>
        <div class="account-box">
          <!-- Account Info Section -->
          <div class="box account-header" *ngIf="isVisible">
            <div class="section box-header">
              <div class="title">Account ID</div>
              <h1 class="classic">{{ accountInfo.result.account_data.Account }}</h1>
            </div>
            <div class="box-content">
              <div class="section header-container">
                <div class="column second">
                </div>
                <div class="column third">
                  <div class="secondary balance">
                    <ul>
                      <li>
                        <span class="label" style="display: inline-block; margin-right: 10px;">XRP Balance:</span>
                        <b style="display: inline-block;">{{ convertDropsToXrp(accountInfo.result.account_data.Balance)|number: '1.2-2' }}</b>
                      </li>
                      <li>
                        <span class="label" style="display: inline-block; margin-right: 10px;">Reserve:</span>
                        <b style="display: inline-block;">{{ accountInfo.reserve }}</b>
                      </li>
                      <li>
                        <span class="label" style="display: inline-block; margin-right: 10px;">Current Sequence:</span>
                        <b style="display: inline-block;">{{ accountInfo.result.account_data.Sequence | number }}</b>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-container" (wheel)="onWheel($event)">
            <div *ngIf="!isTransactionDetails; else transactionDetailTemplate">
              <!-- Transactions table -->
              <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
                <!-- Combined Column -->
                <ng-container matColumnDef="combined">
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="header-row">
                      <span class="header-cell">Account</span>
                      <span class="header-cell type-header">Type</span>
                      <span class="header-cell status-header">Status</span>
                      <span class="header-cell">Date/Time (UTC)</span>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let tx">
                    <div class="transaction-unit" (click)="navigateToTransaction(tx.Account, tx.transaction_hash)">
                      <div class="main-row">
                        <span class="cell">{{ tx.Account }}</span>
                        <span class="cell type-header">{{ tx.TransactionType }}</span>
                        <span class="cell status-header">{{ tx.transaction_result }}</span>
                        <span class="cell">{{ tx.date | date: 'M/d/yyyy, h:mm:ss a' : 'UTC' }}</span>
                      </div>

                      <div class="details-row">
                        {{ tx.additional_information }}
                      </div>
                    </div>
                  </td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
          
              <div *ngIf="isLoading" class="loading">Loading more transactions...</div>
            </div>
          
            <ng-template #transactionDetailTemplate>
              <!-- Placeholder for transaction details if needed -->
            </ng-template>
          </div>
        </div>
      </mat-card-content>
    </div>
    <!-- Card Content -->
  </mat-card>
</div>